html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background:
        linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
        url("MPSavard_SRMR2024_RH-31_COVER.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    color: #333;
}


header {
    background: transparent;
    color: #fff;
    padding: 20px 0; /* только сверху и снизу */
}

.header-inner {
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: 900px;
    margin: 0 auto; /* центрирует текст, но логотип будем сдвигать */
    position: relative;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff; /* можно убрать */
    position: absolute;
    left: 0;   /* прямо к левому краю */
    top: 50%;
    transform: translateY(-50%);
}

.header-text {
    margin-left: 75px; /* отступ, чтобы текст не налезал на логотип */
}

.header-text h1 {
    margin: 0;
    font-size: 26px;
}

.header-text p {
    margin: 5px 0 0 0;
    font-size: 14px;
}



.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.catalog {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.item {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.item-content {
    padding: 15px;
}

.item-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.item-price {
    font-weight: bold;
    margin-bottom: 10px;
}

.item-button {
    display: block;
    text-align: center;
    padding: 10px;
    background: #FF5F1F;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.item-button:hover {
    background: #e0a96d;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #fff;
}
