html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background:
        linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
        url("2023-Silk-Road-Mountain-Race-Josh-Ibbett_1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    color: #fff; /* весь текст белый */
}

/* Header */
.header-boxed {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    max-width: 100%;
}



/* Логотип */
.logo-big {
    width: 130px;   /* фиксированная ширина */
    height: auto;   /* сохраняет пропорции */
    object-fit: contain;
}

/* Текст рядом с логотипом */
.header-text h1,
.header-text p {
    margin: 0;
    color: #fff;
}

.header-text h1 {
    font-size: 32px;
}

.header-text p {
    margin-top: 5px;
    font-size: 16px;
}

/* Контейнер сайта */
.container {
    max-width: 1200px; /* достаточно для 4 товаров */
    margin: 0 auto;
    padding: 20px;
}

/* Каталог товаров */
.catalog {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 товара в ряд */
    gap: 20px;
}

/* Адаптивность */
@media (max-width: 1200px) {
    .catalog {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .catalog {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .catalog {
        grid-template-columns: 1fr;
    }
}

/* Карточка товара */
.item {
    background: rgba(255, 255, 255, 0.5); 
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    color: #fff;
    
    display: flex;
    flex-direction: column;
}

.item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.item-content {
    padding: 15px;
    flex: 1; /* растягивается по высоте */
    display: flex;
    flex-direction: column; /* кнопка внизу */
}

.item-title {
    font-size: 18px;
    margin-bottom: 10px;
    color: #fff;
}

.item-price {
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}

.item-button {
    display: block;
    text-align: center;
    padding: 10px;
    background: #FF5F1F;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
    margin-top: auto; /* кнопка прижимается к низу */
}

.item-button:hover {
    background: #e0a96d;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #fff;
}





